.dialog-content {
    width: 25rem;
}

.modal-btn {
    width: 50%;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
}

.MuiDialog-paper {
    border-radius: 0.75rem !important;
}

.modal-title {
    font-size: var(--font-medium);
    font-weight: 600;
    margin: 1rem 0
}

.modal-msg {
    color: var(--color-gray);
    opacity: 0.8;
}
